parameters:
	paths:
		- app
		- tests
	level: 9
	checkGenericClassInNonGenericObjectType: false
	excludePaths:
	ignoreErrors:
		-
			message: '#Method UnitTests\\Cli\\ScraperTest\:\:dataProviderForMethodProcess\(\) return type has no value type specified in iterable type array\.#'
			path: tests/Unit/Cli/ScraperTest.php
